body{
    background-color:#F1F3F4;
}

.header-overlay {
    display: inline;
    
  }
  .header-overlay .home p {
    display: inline;
    font-size: 14px;
  }
  .header-overlay .home #home1 {
    color: #129cf3;
  }
  .header-overlay .home #slant {
    color: rgb(138, 134, 134);
  }
  .header-overlay .home #accesories {
    color: #000;
  }
  .hmargin{
    margin-top: 38px;
    margin-bottom: 38px;
  }


.navbar-right{
    display: inline;
}
.navtext p {
    color: #000;
    padding-top: 10px;
    font-family: "proxima", sans-serif;
    font-size: 18px;
  }
.pdandbg {
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*margin-bottom: 24px;*/
}
li{
font-size: 16px;
margin-top: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#a-categories{
    font-size: 18px;
}

#home{
    padding-top: auto;
    padding-bottom: auto;
}

/* unvisited link */
a{
    color: black;
}
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
      text-decoration: none;
    color:#33A0FF;
  }
  
  /* selected link */
  a:active {
    color:#33A0FF;
  }

.middle{
    margin-top: 24px;
    border-bottom: #E5E8EA;
}

.card {
    padding: 20px;
    text-align: center;
    background-color:white;
    /*margin-left: 24px;*/
    margin-bottom:24px ;
  }
.columnl {
    /*float: left;*/
    width: 30%;
    padding: 0 0px;
    margin-left: 24px;
  }
  .columnm {
    
    width: 30%;
    padding: 0 0px;
    margin-left: 24px;
  }
  .columnr {
    /*float: right;*/
    width: 30%;
    padding: 0 0px;
    margin-left: 24px;
  }
  .mar
  {
      margin-top: -20;
  }
  .checked {
    color: orange;
  }
  #abc
  {
      margin-left: 24px;
      margin-bottom: 24px;     
  }
.navbar-right ul li{
    padding-bottom: 40px;
}
  .pagination a {
    color: black;
    font-size: 20px;
    margin: 0 5px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: black;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .swatch {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin: 0 5px 0 0;
    border: 1px solid #d4d4d4;
  }

    .radioc {
    background-color: white;
    height: 110px;
  }
  .radioc label {
    padding-left: 30px;
    padding-top: 0px;
  }
  .radioc .colors{
      padding-left: 15px;
  }
 .radioc .colors label {
      cursor: pointer;
      padding-left: 0px;
      padding-right: 0px;
  
  }
  
  .colors input {
    display: none;
  }
  
  .colors input[type="radio"]:checked + .swatch {
      border-radius: 50%;
      box-shadow: inset 0 0 1px 3px rgb(255, 255, 255);
  }
  

  